@charset 'utf-8';

html {
  font-family: 'Gaegu', cursive;
  font-size: 12px;
}
body {
  overflow-x: hidden;
  color: black;
  background: #f3f2f0;
}
a {
  text-decoration: none;
  color: black;
}
.logo {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100vh;
}
.login-box {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.logo-title {
  font-size: 2rem;
  text-align: center;
}
.box {
  font-size: 2rem;
  padding: 0.6em 1em;
  margin-top: 0.5em;
  border: 2px solid #204630;
  border-radius: 0.5em;
  background-color: transparent;
  letter-spacing: 5px;
  font-weight: bold;
  position: relative;
}
.btn-login {
  font-size: 2em;
}
.btn-login:hover {
  color: #449666;
  font-weight: 400;
}
.btn {
  font-size: 2rem;
  padding: 0.8em 1.2em;
  border: 3px solid #204630;
  border-radius: 0.5em;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  position: relative;
  transition: all 0.4s;
  overflow: hidden;
}
.btn-guest-start {
  padding: 1rem;
  font-size: 2rem;
  text-align: center;
  color: black;
}
.btn-user-start {
  width: 40vw;
  color: black;
}
.btn:focus {
  outline: none;
}
.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #204630;
  top: 0;
  left: -100%;
  transition: all 0.4s;
  z-index: -1;
}
.btn:hover::before {
  transform: translateX(100%);
}
.btn:hover {
  color: #f3f2f0;
}
header h1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 240px;
  height: 40px;
  line-height: 40px;
  padding: 0.5rem 0;
  text-align: center;
  border-bottom: 2px solid #204630;
}
.nav-categories {
  position: fixed;
  display: flex;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 1rem;
  border-top: 1px solid black;
  background: #f3f2f0;
}
.nav-item {
  display: flex;
  margin: 0 auto;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
table {
  position: relative;
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 0.5em;
  border-style: hidden;
  box-shadow: 0 0 0 1px white;
  background: white;
  top: 70px;
  width: 100%;
  margin: 1em 0;
}
.board thead td{
  padding: 1rem;
  padding-bottom: 0;
}
.date {
  text-align: right;
}
.board tbody td {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid black;
}
.board tfoot td {
  padding: 1rem;
  padding-right: 0;
}
.board tfoot span {
  padding: 0.5rem;
}
table.diary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.diary thead td {
  padding: 1rem;
  align-items: center;
}
.diary thead .list {
  word-break: keep-all;
}
.diary thead span {
  padding-left: 1rem;
}
.diary tbody {
  padding: 1rem;
  width: 100%;
  overflow: hidden;
}
.diary tbody h3 {
  font-weight: 500;
}
.diary tbody td {
  padding: 0.3rem 0;
}
.diary tbody .content {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.5;
  text-align: left;
  word-wrap: break-word;
}
table.diary-write-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0;
}
.diary-write-header thead td {
  padding: 0 1rem 1rem 0;
  align-items: center;
}
.diary-write-header thead .list {
  text-align: right;
}
.diary-write-header thead :not(.list) {
  padding-right: 0;
}
.diary-write-header tbody {
  padding: 1rem;
  width: 100%;
  overflow: hidden;
}
.diary-write-header tbody h3 {
  font-weight: 500;
}
.diary-write-header tbody td {
  padding: 0.3rem 0;
}
.diary-write-header tbody .content {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.5;
  text-align: left;
  word-wrap: break-word;
}
.diary-write-header select {
  border: 0;
  /* padding: 0 1rem; */
}
/* table.diary-write {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0;
} */
.diary-write thead {
  padding: 1rem;
  padding-bottom: 0;
}
.diary-write tbody .content {
  position: fixed;
  width: -webkit-fill-available;
  top: 18em;
  bottom: 40px;
  overflow-y: scroll;
  background: white;
}
.diary-write textarea {
  width: 98%;
  height: 90%;
  border: none;
  resize: none;
}
.diary-write tbody td {
  width: 100%;
  padding: 1rem;
  vertical-align: baseline;
}
.diary-write tfoot td {
  padding: 1rem;
  padding-right: 0;
}
.diary-write tfoot span {
  padding: 0.5rem;
}
/* .diary-write thead td{
  padding: 0 1rem 1rem 1rem;
  align-items: center;
}
.diary-write tbody {
  padding: 1rem;
  width: 100%;
  overflow: hidden;
}
.diary-write tbody h3 {
  font-weight: 500;
}
.diary-write tbody td {
  padding: 0.3rem 0;
} */
table.board-write-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0;
}
.board-write-header thead td {
  padding: 0 1rem 1rem 0;
  align-items: center;
}
.board-write-header thead .list {
  text-align: right;
}
.board-write-header thead :not(.list) {
  padding-right: 0;
}
.board-write-header select {
  border: 0;
  /* padding: 0 1rem; */
}
.board-write tbody .content {
  position: fixed;
  width: -webkit-fill-available;
  top: 13em;
  bottom: 40px;
  overflow-y: scroll;
  background: white;
}
.board-write textarea {
  width: 98%;
  height: 90%;
  border: none;
  resize: none;
}
.board-write tbody td {
  width: 100%;
  padding: 1rem;
  vertical-align: baseline;
}
.setting img{
  width: 2rem;
}
.setting tr {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1em solid #f3f2f0;
  font-size: 1.5rem;
}
.setting td {
  padding: 0.5rem;
}
.set-title {
  width: 50%;
}
.set-icon {
  width: 10%;
  text-align: center;
}
.set-switch {
  width: 30%;
  vertical-align: middle;
  text-align: center;
}
.setting .btn-set {
  display: flex;
  justify-content: center;
}
.setting .btn-set div {
  padding: 0 1rem;
}
.setting .btn-count {
  border: none;
  background: none;
  font-weight: bold;
}
footer {
  position: fixed;
  bottom: 1rem;
  right: 1.5rem;
  margin-top: 1rem;
}
div.margin {
  padding: 1rem;
  margin-bottom: 6rem;
}
.btn-menu {
  position: relative;
  width: 60px;
  height: 60px;
  bottom: 50px;
  margin: 10px;
  background: #204630;
  border-radius: 50%;
  box-shadow: 1px 3px 5px 1px rgb(183, 183, 183);
}
.bar {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.bar1 {
  transform: translate(12px, 28px);
}
.bar2 {
  transform: rotate(90deg) translate(17px, -12px) ;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-11px, 29px);
}
.change .bar2 {
  transform: rotate(45deg) translate(21px, 2px);
}
.btn-menu .write {
  position: relative;
  bottom: 8rem;
}
.btn-menu .setting {
  position: relative;
  bottom: 19rem;
}
.menu-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.write-icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.history-back {
  text-align: left;
  margin-left: 20px;
  line-height: 40px;
}
.wrapper {
  line-height: 100%;
}
#switch {
  position: absolute;
  /* hidden */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}
.switch_label {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 58px;
  height: 23px;
  background: #fff;
  border: 2px solid #204630;
  border-radius: 20px;
  transition: 0.2s;
}
.switch_label:hover {
  background: #efefef;
}
.onf_btn {
  position: absolute;
  top: -0.5px;
  left: 1px;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  background: #204630;
  transition: 0.2s;
}
/* checking style */
#switch1:checked+.switch_label {
  background: #204630;
  border: 2px solid #204630;
}
#switch1:checked+.switch_label:hover {
  background: #204630;
}
/* move */
#switch1:checked+.switch_label .onf_btn {
  left: 34px;
  background: #fff;
  box-shadow: 1px 2px 3px #00000020;
}
input[id="checkDark"] + label {
	display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 6rem;
  height: 2rem;
  border: 1.4px solid black;
  border-radius: 15%;
	cursor: pointer;
}
input[id="checkDark"]:checked + label::after {
  content: 'ON';
  color: black;
}
input[id="checkDark"] + label::before {
  content: 'OFF';
  color: black;
}
input[id="checkDark"] {
	display: none;
}
input[id="checkLock"] + label {
	display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 6rem;
  height: 2rem;
  border: 1.4px solid black;
  border-radius: 15%;
	cursor: pointer;
}
input[id="checkLock"]:checked + label::after {
	/* background-color: #666666; */
  content: 'ON';
  color: black;
}
input[id="checkLock"] + label::before {
  content: 'OFF';
  color: black;
  background: 'OFF';
}
input[id="checkLock"] {
	display: none;
}