@charset 'utf-8';

html {
  font-family: 'Gaegu', cursive;
  font-size: 12px;
}
body {
  overflow-x: hidden;
  color: black;
  background: #f3f2f0;
}
a {
  text-decoration: none;
  color: black;
}
.logo {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}
.logo-title {
  font-size: 2rem;
  text-align: center;
}
.btn {
  font-size: 2rem;
  padding: 0.8em 1.2em;
  border: 3px solid #204630;
  border-radius: 0.5em;
  background-color: transparent;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  position: relative;
  transition: all 0.4s;
  overflow: hidden;
}
.btn-guest {
  color: black;
}
.btn:focus {
  outline: none;
}
.btn::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #204630;
  top: 0;
  left: -100%;
  transition: all 0.4s;
  z-index: -1;
}
.btn:hover::before {
  transform: translateX(100%);
}
.btn:hover {
  color: #f3f2f0;
}
header h1{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  padding: 1rem 0;
  text-align: center;
  border-bottom: 2px solid #204630;
}
.nav-categories {
  position: fixed;
  display: flex;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 40px;
  padding: 1rem;
  border-top: 1px solid black;
}
.nav-item {
  justify-content: space-around;
  margin: 0 auto;
}
table.board, table.diary, table.diary-write {
  position: relative;
  border: 1px solid black;
  border-collapse: collapse;
  border-radius: 0.5em;
  border-style: hidden;
  box-shadow: 0 0 0 1px white;
  background: white;
  top: 70px;
  width: 100%;
  margin: 1em 0;
}
.board thead td{
  padding: 1rem;
  padding-bottom: 0;
}
.board-date {
  text-align: right;
}
.board tbody td {
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid black;
}
.board tfoot td {
  padding: 1rem;
  padding-right: 0;
}
.board tfoot span {
  padding: 0.5rem;
}
table.diary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
.diary thead td {
  padding: 1rem;
  align-items: center;
}
.diary thead .list {
  word-break: keep-all;
}
.diary thead span {
  padding-left: 1rem;
}
.diary tbody {
  padding: 1rem;
  width: 100%;
  overflow: hidden;
}
.diary tbody h3 {
  font-weight: 500;
}
.diary tbody td {
  padding: 0.3rem 0;
}
.diary tbody .content {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.5;
  text-align: left;
  word-wrap: break-word;
}
table.diary-write {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.diary-write thead td{
  padding: 0 1rem 1rem 1rem;
  align-items: center;
}
.diary-write thead span {
  padding-left: 1rem;
}
.diary-write tbody {
  padding: 1rem;
  width: 100%;
  overflow: hidden;
}
.diary-write tbody h3 {
  font-weight: 500;
}
.diary-write tbody td {
  padding: 0.3rem 0;
}
.diary-write tbody .content {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-height: 1.5;
  text-align: left;
  word-wrap: break-word;
}
.diary-write input {
  border: 0;
  border-bottom: 1.3px solid black;
  padding: 0 1rem;

}
footer {
  position: fixed;
  bottom: 2rem;
  right: 1.5rem;
  /* background: white; */
}
.btn-menu {
  position: relative;
  width: 60px;
  height: 60px;
  bottom: 50px;
  margin: 10px;
  background: #204630;
  border-radius: 50%;
  box-shadow: 1px 1px 1px 1px rgb(84, 84, 84);
}
.bar {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.bar1 {
  transform: translate(12px, 28px);
}
.bar2 {
  transform: rotate(90deg) translate(17px, -12px) ;
}
.change .bar1 {
  transform: rotate(-45deg) translate(-11px, 29px);
}
.change .bar2 {
  transform: rotate(45deg) translate(21px, 2px);
}
.btn-menu .write {
  position: relative;
  bottom: 8rem;
}
.btn-menu .setting {
  position: relative;
  bottom: 19rem;
}
.menu-icon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.write-icon {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}
.history-back {
  text-align: left;
  margin-left: 20px;
  line-height: 40px;
}